.vp-doc table {
  width: 100%;
  display: table;
  table-layout: fixed;
}

img {
  image-rendering: pixelated;
}

td > img {
  margin-left: auto;
  margin-right: auto;
  min-height: 64px;
}

.medium-zoom-overlay {
  z-index: 30;
}

.medium-zoom-image--opened {
  z-index: 31;
}
