.vp-doc table {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.vp-doc table td,
.vp-doc table th {
  word-break: break-word;
  overflow-wrap: break-word;
}

.medium-zoom-overlay {
  z-index: 30;
}

.medium-zoom-image--opened {
  z-index: 31;
}
